* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
nav {
  display: flex;
  justify-content: flex-start;
  padding: 10px 0;
  border: 2px solid pink;
}
nav img {
  width: 80px;
  padding-left: 20px;
}
.hero {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 20px;
}
.heroImg {
  height: 50vh;
}
.hero img {
  width: 100%;
   height: 50vh;
   object-fit: cover;
   object-position: center;
}